@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Reading Room</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>To view the code got to my Github : <a href="https://github.com/febinfavas/Assignment">febinfavas</a>.</p>
</div>
