@page "/"

<span style="text-align:center">
    <h1>
        My Authentication App
    </h1>
    <h6>
        Welcome to my new app. This app is build using Blazor Server App.
    </h6>
</span>
<br />
<br />
<p style="text-align:center">
    Please login to Access the Full Feature
</p>





